@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: Poppins, HelveticaNeue, Helvetica Neue, sans-serif, Roboto, sans-serif;
}

.wrapper {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.mt-10 {
  margin-top: 10px !important;
}

.spacing-10 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.spacing-20 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.full-width {
  width: 100% !important;
}

.text-transform-uppercase {
  text-transform: uppercase !important;
}

.col-prd {
  padding: 0 15px;
}

.img-prd {
  height: 100%;
  width: 100%;
}

.row-mg {
  margin: 0 -20px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.distance {
  padding: 70px 0 !important;
}

.distance-f {
  padding-top: 70px !important;
}

dl, ol, ul {
  margin: 0;
  padding: 0;
}

.pdr {
  padding-right: 61px !important;
}

.row-h {
  padding-right: 0;
}

.spacing-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.container-1 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.header .site-header {
  position: relative;
  padding: 35px 0 0;
  display: flex;
  align-items: center;
}
.header .site-header-logo_link {
  display: block;
}
.header .site-header-menu_navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .site-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .site-header-menu_list {
  display: flex;
  align-items: center;
}
.header .site-header-menu_items a {
  margin: 6px 16px;
  color: #222;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.5rem;
}
.header .site-header-icons_wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
}
.header .site-header-icons_item:not(:last-child) {
  margin: 0 20px 0 0;
  padding: 0 20px 0 0;
}
.header .site-header-icons_link {
  color: #222;
  font-size: 3rem;
}
.header .site-header-icons_link:hover {
  color: orange;
}

.header-mobile {
  background-image: linear-gradient(0, #fe6433, #f6422d);
  padding: 20px;
}
.header-mobile .mobile-menu_item {
  color: #fff;
  font-size: 2.4rem;
}
.header-mobile .header-mobile_search {
  margin-top: 20px;
}
.header-mobile .header-mobile_search .mobile-search {
  position: relative;
}
.header-mobile .header-mobile_search .mobile-search .search-header_input {
  width: 100%;
  border: none;
  height: 34px;
  font-size: 1.2rem;
  padding: 0 35px 0 10px;
  line-height: 1.2rem;
  border-radius: 17px;
}
.header-mobile .header-mobile_search .mobile-search_btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 5px;
  right: 7px;
  color: #ff6000;
  font-size: 2.1rem;
  cursor: pointer;
}
.header-mobile .mobile-icons {
  gap: 25px;
  font-size: 3rem;
}
.header-mobile .mobile-icons .mobile-icons_link {
  color: white;
}

.banner {
  position: relative;
  padding-top: 35px;
}
.banner-wrap {
  display: block;
}
.banner-top_img-link {
  display: block;
}
.banner-top_img {
  object-fit: cover;
}
.banner-gallery {
  padding-bottom: 30px;
}
.banner-top_item {
  position: relative;
}
.banner-top_item--content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.banner-top_item--title {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
  right: 0;
  color: #fff;
  height: 25px;
  text-align: center;
  font-size: 2.9rem;
  font-weight: 900;
  line-height: 2.5rem;
  margin: 0;
}
.banner-title_block {
  text-align: center;
  justify-content: center;
  padding: 40px 0 30px 0;
}
.banner-title_block--text {
  font-size: 3rem;
  font-weight: 700;
  line-height: 2.5rem;
  font-family: Roboto, HelveticaNeue, Helvetica Neue, sans-serif;
  margin-bottom: 40px;
}
.banner_products {
  display: block;
  padding-bottom: 81px;
}
.banner_products--image {
  object-fit: cover;
}
.banner_products-info {
  margin-top: 15px;
}
.banner_products-info--rating {
  margin-top: 5px;
  margin-bottom: 15px;
}
.banner_products-info--star {
  display: inline-block;
  color: #fad78b;
  margin-right: 2px;
}
.banner_products-info--name a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #444;
  font-weight: 700;
  font-family: Roboto, HelveticaNeue, Helvetica Neue, sans-serif;
}
.banner_products-info--name a:hover {
  color: #ff6000;
}
.banner_products-info--price span {
  display: block;
  font-size: 1.4rem;
  color: #444;
  font-weight: 800;
  font-family: Roboto, HelveticaNeue, Helvetica Neue, sans-serif;
}

.testimonial {
  background: #f2f2f2;
}
.testimonial-slider {
  padding: 0 15px;
}
.testimonial-items {
  background-color: #fff;
  padding: 35px 40px 30px;
  margin: 0 15px;
  box-shadow: 0 4px 10px #00000026;
}
.testimonial-items_name {
  font-size: 1.4rem;
  font-family: Roboto, HelveticaNeue, Helvetica Neue, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.testimonial-items_info {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #909090;
  margin-bottom: 15px;
}
.testimonial-items_star {
  color: #f9c964;
  font-size: 1.2rem;
  margin-bottom: 15px;
}
.testimonial-items p {
  font-family: Roboto, HelveticaNeue, Helvetica Neue, sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  color: #909090;
}
.testimonial-title-block {
  display: block;
  margin-bottom: 26px;
}
.testimonial-title-block_text {
  font-size: 3rem;
  color: #222;
  margin-bottom: 26px;
  font-family: Roboto, HelveticaNeue, Helvetica Neue, sans-serif;
  font-weight: 800;
  text-transform: none;
}
.testimonial-title-block_sub {
  display: block;
  font-size: 10px;
  color: #909090;
  font-family: Roboto, HelveticaNeue, Helvetica Neue, sans-serif;
  font-weight: 400;
  font-style: initial;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 0;
}

.instagram-block_text {
  padding-top: 40px;
}
.instagram-block_text h1 {
  font-family: Roboto, HelveticaNeue, Helvetica Neue, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 25px;
}
.instagram-block_text p {
  font-size: 1.2rem;
  font-family: Roboto, HelveticaNeue, Helvetica Neue, sans-serif;
  color: #666;
  font-style: italic;
  margin-bottom: 0;
  width: 82%;
}
.instagram-img {
  display: flex;
}
.instagram-img_image {
  height: 230px;
  width: 240px;
  object-fit: cover;
  padding: 0 1px;
}

.footer-block {
  background: #081a1e;
}
.footer-contact {
  margin-bottom: 40px;
}
.footer-logo img {
  padding: 80px 0 11px 39px;
}
.footer-social_block {
  padding: 10px 0 0 37px;
}
.footer-social_icons ul {
  padding-left: 0;
}
.footer-social_icons li {
  margin-right: 20px;
}
.footer-social_icons li a {
  font-size: 2rem;
  color: #fff;
}
.footer-social_icons li a:hover {
  color: #ff6000;
}
.footer-menu, .footer-contact {
  padding: 80px 0 80px;
}
.footer-menu_title, .footer-contact_title {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: Roboto, HelveticaNeue, Helvetica Neue, sans-serif;
}
.footer-menu_list, .footer-contact_list {
  padding-left: 0;
  list-style: none;
}
.footer-menu_items, .footer-contact_items {
  padding-bottom: 8px;
}
.footer-menu_items a, .footer-contact_items a {
  color: #fff;
  font-family: Roboto, HelveticaNeue, Helvetica Neue, sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 2rem;
}
.footer-menu_items a:hover, .footer-contact_items a:hover {
  color: #ff6000;
  transition: all 0.2s linear;
}
.footer-icon-contact {
  color: white;
  font-size: 1.9rem;
  margin-right: 15px;
  vertical-align: sub;
}
.footer-address-content {
  color: white;
  font-size: 1.3rem;
  font-family: Roboto, HelveticaNeue, Helvetica Neue, sans-serif;
  font-weight: 300;
  line-height: 2rem;
  margin-bottom: 8px;
}

.copyright-block {
  padding: 37px 0;
}
.copyright-block .copyright-title {
  font-size: 1.2rem;
  font-family: Roboto, HelveticaNeue, Helvetica Neue, sans-serif;
  color: #666;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

@media (max-width: 1000px) {
  .mb-xs-10 {
    margin-bottom: 10px !important;
  }

  .mt-xs-10 {
    margin-top: 10px !important;
  }

  .text-xs-center {
    text-align: center !important;
  }

  .mb-xs-30 {
    margin-bottom: 30px !important;
  }

  .pb-xs-20 {
    padding-bottom: 20px !important;
  }
}
@media (max-width: 990px) {
  .block-footer {
    padding: 40px 15px 0 35px;
  }

  .instagram-img_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/*# sourceMappingURL=theme.css.map */
